@font-face {
    font-family: 'Aileron Heavy';
    src: url("../fonts/Aileron-Heavy.otf");
}

@font-face {
    font-family: 'Aileron SemiBold';
    src: url("../fonts/Aileron-SemiBold.otf");
}

@font-face {
    font-family: 'Aileron Light';
    src: url("../fonts/Aileron-Light.otf");
}

body {
    background-color: #fff;
    margin: 0;
    font-family: "Aileron Heavy", sans-serif;
    display: flex;
    flex-direction: column;
}

#headerContainer {
    align-self: center;
}

h1 {
    color: white;
    text-align: center;
    background-color: #fff;
    color: #232323;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
    display: inline-block;
    font-family: "Aileron Black", sans-serif;
    /*    transition: background-color 600ms;
        --webkit-transition: background-color 600ms;
        --moz-transition: background-color 600ms;*/
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 50%;
    transition: background-color 600ms;
    --webkit-transition: background-color 600ms;
    --moz-transition: background-color 600ms;
}

#container {
    width: 600px;
    margin: 50px auto;
    align-self: center;
}


#stripe {
    background-color: white;
    text-align: center;
    color: black;
    font-size: 130%;
    align-self: center;
    min-width: 800px;
}

.selected {
    color: white;
    background: #232323;
}

#colorDisplay {
    font-size: 200%;
}

button {
    font-family: "Aileron Black",sans-serif;
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: #232323;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 400ms;
    outline: none;
    margin-right: -5px;
}

button:hover {
    color: #fff;
    background: #232323;
}

#msg {
display: inline-block;
width: 30%;
font-weight: bold;
letter-spacing: 1px;
text-transform: uppercase;
font-size: inherit;
color: #232323;
}



