@media screen and (max-width: 1920px) {
  html {
    -moz-transform: scale(0.8, 0.8);
    zoom: 0.8;
    zoom: 80%;
  }
}
@media screen and (max-width: 800px) {
  html {
    -moz-transform: scale(0.50, 0.50);
    zoom: 0.50;
    zoom: 50%;
  }
}

body {
    background-color: #fff;
    margin: 0;
    font-family: "aileronheavy", sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    font-size: 500%;
}

.header {
    background-color: #fff;
    color: #232323;
    text-transform: uppercase;
    margin: 5% 0 5% 0;
    font-family: "aileronblack", sans-serif;
    min-width: 320px;
}

.rgbLetter {
    background-color: #232323;
    color: #fff;
    padding: 0 0 0 10px;
}

.rgbNumber {
    display: inline-block;
    margin: 0 0 0 10px;
    min-width: 158px;
    text-align: center;
    font-family: "aileronheavy", sans-serif;
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 50%;
    transition: 600ms;
    --webkit-transition: 600ms;
    --moz-transition: 600ms;
}

.square:hover {
}

#container {
    width: 800px;
    margin: 50px auto;
    align-self: center;
}


#stripe {
    justify-content: space-between;
    display: flex;
    background-color: white;
    color: black;
    font-size: 250%;
    align-self: center;
    min-width: 960px;
}

.selected {
    color: white;
    background: #232323;
}

button {
    font-family: "aileronblack",sans-serif;
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: #232323;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 400ms;
    outline: none;
    margin-right: -8px;
}

button:hover {
    color: #fff;
    background: #232323;
}

#msg {
    font-family: aileronlight_italic, sans-serif;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: inherit;
    color: #232323;
}



